@import '../../Assets/style/variables';
$padding: 3em;

.item-detail {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  padding: $padding;

  &:before {
    content: 'Hit Esc to close';
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    border: 1px solid #eee;
    padding: 1em;
    opacity: 0;
    animation: close-message 1.8s;
  }

  h1 {
    font-family: $headline-font-family;
    margin: 0 auto 0.5em;
  }
  img {
    width: 100%;
  }

  .item-detail-copy {
    margin: 1em auto;
  }

  @media all and (min-width: $mobile-breakpoint) {
    img {
      width: 50%;
      float: left;
      margin: 0 1em 1em 0;
    }
    .item-detail-copy {
      margin: 0 0;
    }
  }
}

@keyframes close-message {
  0% {
    opacity: 1;
    display: block;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
