.item-nav-container {
  max-width: 100%;
  overflow: hidden;
  margin: 1.8em 0;
  padding: 1em 4em;
  position: relative;
  > h2 {
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 0;
  }
  &.active > h2 {
    margin-bottom: 2em;
  }
}
.item-nav {
  display: flex;
  transition: all 0.3s;
}
