@import '../../Assets/style/variables';

.item {
  width: 220px;
  flex: 0 0 220px;
  display: block;
  transition: all 0.3s;
  transform-origin: center center;
  .scaled-item {
    transition: all 0.3s;
    transform: scale(0.8);
  }
  h2 {
    overflow: hidden;
    white-space: nowrap;
    font-size: 1em;
    text-overflow: ellipsis;
    line-height: 1;
    margin: 0.4em 1.5em 0.8em 0;
    font-family: $headline-font-family;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  }
  h3 {
    font-size: 0.8em;
  }
  h2,
  h3 {
    opacity: 0;
    transition: all 0.3s;
  }
  img {
    max-width: 100%;
    height: auto;
    flex-grow: 0;
    margin: 0;
    transition: all 0.3s;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
  }
  &.active {
    .scaled-item {
      transform: scale(1.2);
    }
    margin: 0 1em;
    img {
      box-shadow: 0 0 0px 0.3em #eee;
    }
    h2,
    h3 {
      opacity: 1;
    }
  }
}
