@import 'Assets/style/variables';

* {
  box-sizing: border-box;
}
body,
html {
  padding: 0;
  margin: 0;
}
html {
  background: #000 url('Assets/Images/background.jpg') fixed center center
    no-repeat;
  background-size: cover;
}
body {
  color: #eee;
  font-size: $base-font-size;
  font-family: $base-font-family;
  overflow: hidden;
}
